<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atualizar Autor</title>
</head>
<body>
    <h1>Atualizar Autor</h1>
    <form th:action="@{/autores/atualizar/{id}(id=${autor.idAutor})}" th:object="${autor}" method="post">
        <label for="nomeAutor">Nome do Autor:</label>
        <input type="text" id="nomeAutor" th:field="*{nomeAutor}" required>
        <br><br>
        <button type="submit">Atualizar</button>
    </form>
    <br>
    <a href="/autores">Voltar para a lista de autores</a>
</body>
</html>